{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script type="module" src="{% static '/webcomponents/timing_games/timing-games.js' %}"></script>
{% endblock %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}
    <timing-games
        initial-decision='{{ player.initial_decision }}'
        period-length='{{ player.group.period_length }}'
        {% if player.subsession.enable_payoff_landscape %}
        enable-payoff-landscape
        {% endif %}
        {% if player.group.num_subperiods %}
        num-subperiods='{{ player.group.num_subperiods }}'
        {% endif %}
        others-bubbles='{{ player.subsession.others_bubbles }}'
        smoothing='{{ player.subsession.smoothing }}'
        update-rate='{{ player.group.updateRate }}'
        players-per-group='{{ player.subsession.players_per_group }}'
        x-min='{{ player.group.xMin }}'
        x-max='{{ player.group.xMax }}'
        y-min='{{ player.group.yMin }}'
        y-max='{{ player.group.yMax }}'
        lambda='{{ player.group.constantLambda }}'
        gamma='{{ player.group.gamma }}'
        rho='{{ player.group.rho }}'
        constant-h='{{ player.group.constantH }}'
        bandwidth='{{ player.group.bandwidth }}'
        sample-size='{{ player.subsession.sample_size }}'
        constant-e='{{ player.subsession.constantE }}'
        trembling='{{ player.subsession.trembling }}'
        >
    </timing-games>

{% endblock %}
