{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>

    <link
        rel="import"
        href="{% static "webcomponents/timing_games/timing-games.html" %}">
{% endblock %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}
    <timing-games
        initial-decision='{{ player.initial_decision }}'
        period-length='{{ player.group.period_length }}'
        {% if player.subsession.enable_payoff_landscape %}
        enable-payoff-landscape
        {% endif %}
        others-bubbles='{{ player.subsession.others_bubbles }}'
        update-rate='{{ player.group.updateRate }}'
        max-payoff='{{ player.group.maxPayoff }}'
        players-per-group='{{ player.subsession.players_per_group }}'
        x-min='{{ player.group.xMin }}'
        x-max='{{ player.group.xMax }}'
        y-min='{{ player.group.yMin }}'
        y-max='{{ player.group.yMax }}'
        display-lower='{{ player.group.displayLower }}'
        display-upper='{{ player.group.displayUpper }}'
        lambda='{{ player.group.constantLambda }}'
        gamma='{{ player.group.gamma }}'
        rho='{{ player.group.rho }}'
        constant-h='{{ player.group.constantH }}'
        >
    </timing-games>

{% endblock %}
